    <div class="card">
    <div class="card-header">
      <h1>Editing friend</h1>
<div class="card-body">
    <h5 class="card-title"></h5>
<%= render "form", friend: @friend %>
<%= link_to "Show this friend",@friends,class:"btn btn-outline-info btn-sm" %> |
<%= link_to "Back to friends", friends_path ,class:"btn btn-outline-info btn-sm" %>


<p class="card-text"></p>
 </div>
</div>
</div>
</div>
</div>
<div>