    <div class="card">
    <div class="card-header">
      <h1>Editing friend</h1>

<%= render "form", friend: @friend %>
<%= link_to "Back to friend", friends_path ,class:"btn btn-outline-info btn-sm" %><%= button_to "Delete", @friend, method: :delete, data: {confirm: "Are you sure you want to delete "},class:"btn btn-outline-danger btn-sm bs-btn-font-weight: 100 " %>
<div class="card-body">
 <h5 class="card-title"></h5>
<p class="card-text"></p>
 </div>
</div>
</div>
</div>
</div>
<div>