<h1>Editing elec solution</h1>

<%= render "form", elec_solution: @elec_solution %>

<br>

<div>
  <%= link_to "Show this elec solution", @elec_solution %> |
  <%= link_to "Back to elec solutions", elec_solutions_path %>
</div>
