<p style="color: green"><%= notice %></p>

<h1>Elec solutions</h1>

<div id="elec_solutions">
  <% @elec_solutions.each do |elec_solution| %>
    <%= render elec_solution %>
    <p>
      <%= link_to "Show Profile", elec_solution %>
    </p>
  <% end %>
</div>

<%= link_to "New Profile", new_elec_solution_path %>
