<div class="card text-bg-dark mb-10" style="max-width: 1000px max-length: 1000px; ">
  <div class="card-header">Elec Solutions</div>
  <div class="card-body">
    <h5 class="card-title">Select What You Want</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>