<!DOCTYPE html>
<head>
<title>Page Title</title>
<meta http-equiv="refresh">
<meta charset="utf-8" content-type="utf-8">
<link href="https://fonts.googleapis.com/css?family=Tangerine">
 <%= stylesheet_link_tag 'home' %>
</head>

    <body>
        <header class = "header">
            <div class = "log-box">
                <%= image_tag("photos/log.JPG",alt:"Log" ,class:"log") %>
            </div>
        <div class = "text-box">
            <h1 class = "heading-primary">
                <span class="heading-primary-main">Elec Solutions</span>
                <span class ="heading-primary-sub">Your One Stop Power Solutions</span>
            </h1>

            <a href ="#" class = "btn btn-white">Discover Our Solutions</a>
            </div>
</header>
    </body>
</html>
