/*rgba(40, 180, 131, 0.8) */

*{
    margin:0;
    padding:0;
}

.navbar{
    margin:3rem;
    background-color: rgba(126, 213, 111, 0.8);

}
.container-fluid{

}

.collapse{

}
.navbar-nav{

}
.nav-item{

}

.navbar-brand{

}